<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Ecrivez-nous</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs"> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <p text-justify>
            Une question ? Une remarque ? Un problème ? Adressez-nous un message.
        </p>
      </ion-item>
        <h4 class="ion-text-center"><strong>Contactez-nous!</strong></h4>
    <ion-list>
        <ion-item lines="inset">
            <ion-icon name="golf-outline" slot="start" color="primary"></ion-icon>

            <ion-label position="floating"><b>Objet du Message</b></ion-label>
            <ion-input type="text" value={{credit.objet}} [(ngModel)]="credit.objet" required></ion-input>

        </ion-item>
        <ion-item lines="inset">
            <ion-icon name="newspaper-outline" slot="start" color="primary"></ion-icon>

            <ion-label position="floating"><b>Message</b></ion-label>

            <ion-textarea value={{credit.content}} [(ngModel)]="credit.content" required placeholder="Enter more information here..."></ion-textarea>


        </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit" color="primary" (click)="save()">Envoyer</ion-button>
</ion-content>