<ion-list padding>
    <ion-item *ngIf="boutique==true" (click)="ville()">
        <ion-icon name="business-outline"></ion-icon>
        Villes
    </ion-item>
    <ion-item *ngIf="boutique==true" (click)="agence()">
        <ion-icon name="apps-outline"></ion-icon>
        Mon agence</ion-item>
    <ion-item (click)="histo()">
        <ion-icon name="bookmarks-outline"></ion-icon>
        Historique des voyages
    </ion-item>
    <ion-item (click)="billet()">
        <ion-icon name="document-text-outline"></ion-icon>
        Mes tickets
    </ion-item>
    <ion-item (click)="notification()">
        <ion-icon name="notifications-outline" color="primary"></ion-icon>
        Mes Notifications
    </ion-item>
    <ion-item (click)="transaction()">
        <ion-icon name="cash-outline" color="primary"></ion-icon>
        Mes Transactions
    </ion-item>
    <ion-item *ngIf="connect!=true" (click)="reserv()">
        <ion-icon name="download-outline"></ion-icon>
        Réservation
    </ion-item>
    <ion-item *ngIf="connect!=false" (click)="login()">
        <ion-icon name="lock-closed-outline"></ion-icon>
        Veuillez-vous connecter
    </ion-item>
</ion-list>