<ion-list padding>
  <ion-item (click)="liste()">
    <ion-icon color="primary" name="fast-food-outline"></ion-icon>
    Liste des plats 
    </ion-item>
  <ion-item (click)="menu()"> 
    <ion-icon color="primary" name="reader-outline"></ion-icon>

    Menus
  </ion-item>
  <ion-item (click)="resto()">
    <ion-icon color="primary" name="restaurant-outline"></ion-icon>
    Restaurants
    </ion-item>
    <ion-item (click)="achat()">
      <ion-icon color="primary"  name="car-outline"></ion-icon>
      Mes achats
      </ion-item>

      <ion-item *ngIf="connect==true" (click)="goProfil()">
        <ion-icon color="primary"  name="person"></ion-icon>
        Mon profil
        </ion-item>

        <ion-item *ngIf="connect==true" (click)="logout()">
          <ion-icon color="primary"  name="lock-closed-outline"></ion-icon>
          Déconnexion
          </ion-item>

          <ion-item *ngIf="connect!=true" (click)="login()">
            <ion-icon color="primary"  name="lock-closed-outline"></ion-icon>
            Connexion
            </ion-item>
</ion-list>