

<ion-content padding class="background-image">
  <ion-grid>
    <ion-row center>
      <ion-col>
        
      </ion-col>
      <ion-col>
        <ion-img style="width: 100px; height: 100px;" src="assets/img/GoSmartLogo.png"></ion-img>
      </ion-col>
      <ion-col>
       
      </ion-col>
  </ion-row>
  </ion-grid>
  <ion-text><h3 class="title">Veuillez-vous connecter pour continuer ...</h3></ion-text>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input clearInput type="email" placeholder="Adresse électronique" [(ngModel)]="email" class="input" padding-horizontal></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input clearInput type="password" placeholder="Mot de passe" [(ngModel)]="password" class="input" padding-horizontal></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="login()" color="primary"><strong class="white">Connexion</strong></ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-text class="error" text-center danger>{{error}}</ion-text>
      </ion-col>
  </ion-row>

    <div class="line"></div>
    <ion-row>
      <ion-col>
        <ion-text text-center color="secondary"><h6 no-margin class="small"> <a (click)="forgot()">Mot de passe oublié ?</a></h6></ion-text>
      </ion-col>
      <ion-col>
        <ion-text text-center color="tertiary"><h6 no-margin class="small"> <a (click)="visit()">Continuer la visite ?</a></h6></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" color="secondary" (click)="inscription()" color="secondary"><strong>Nouveau ? Créer un compte</strong></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text text-center color="medium"><h6 no-margin class="small"><a (click)="term()">Termes d' utilisation</a> et <a (click)="policy()">Conditions de confidentialité</a></h6></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>