.head {
    min-height: 21vh !important;
}
.image {
    width: 180px;
}
.input {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 9px;
    font-size: .6em !important;
}
.bout{
    font-size: 0.6em !important;
}

.white{
    color: white;
}
.title {
    font-size: 18px;
    text-align: center;
}
.small {
    font-size: 13px;
    text-align: center;
    a{
        text-decoration: unset !important;
    }
}
.button-color {
    background-color : var(--ion-color-mytheme);
}
.logo {
    width: 1.15em !important;
    text-align: center;
}
.background-image{
    --background: url(/assets/back.jpg) 0 0/100% 100% no-repeat;
}