<ion-list padding>
    <ion-item (click)="circuler()">
        <ion-icon color="primary" name="car-outline"></ion-icon>
        Conducteurs
    </ion-item>
  

    <ion-item (click)="shop()">
        <ion-icon color="primary" name="cart-outline"></ion-icon>
        Boutiques
    </ion-item>
    <ion-item (click)="plat()">
        <ion-icon color="primary" name="fast-food-outline"></ion-icon>
        Restaurants
    </ion-item>
 
  
    <ion-item (click)="bus()">
        <ion-icon color="primary" name="bus-outline"></ion-icon>
        Bus
    </ion-item>
    <ion-item (click)="vols()">
        <ion-icon color="primary" name="airplane-outline"></ion-icon>
        Vols
    </ion-item>
    <ion-item (click)="hotel()">
        <ion-icon color="primary" name="bed-outline"></ion-icon>
        Hötels
    </ion-item>

        <ion-item *ngIf="connect==true" (click)="checkin()">
        <ion-icon color="primary" name="cart"></ion-icon>
        Réservations
    </ion-item>
 
    <ion-item *ngIf="connect==true" (click)="notif()">
        <ion-icon color="primary" name="chatbubbles-outline"></ion-icon>
        Notifications
    </ion-item>
    <ion-item *ngIf="connect==true && file==true" (click)="transfert()">
        <ion-icon color="primary" name="card-outline"></ion-icon>
        Transfert
    </ion-item>

    <ion-item *ngIf="connect==true && connets==true" (click)="credit()">
        <ion-icon color="primary" name="cash-outline"></ion-icon>
        Retrait
    </ion-item>
    <ion-item *ngIf="other==true" (click)="retrait()">
        <ion-icon color="primary" name="cash-outline"></ion-icon>
        Mes retraits
    </ion-item>
    <ion-item *ngIf="connect==true && connet==true" (click)="retraitadmin()">
        <ion-icon color="primary" name="cash-outline"></ion-icon>
        Mes validations
    </ion-item>
    <ion-item *ngIf="connect==true && connet==true" (click)="active()">
        <ion-icon color="primary" name="lock-closed-outline"></ion-icon>
        Utilisateurs
    </ion-item>
    <ion-item *ngIf="connect==true" (click)="suggest()">
        <ion-icon color="primary" name="mail-outline"></ion-icon>
        Ecrivez-nous
    </ion-item>
    <ion-item *ngIf="connect!=true" (click)="login()">
        <ion-icon color="primary" name="lock-closed-outline"></ion-icon>
        Connexion
    </ion-item>


    <ion-item *ngIf="connect==true" (click)="logout()">
        <ion-icon color="primary" name="lock-closed-outline"></ion-icon>
        Déconnexion
    </ion-item>

</ion-list>
