<ion-header>
    <ion-toolbar color="primary">
        <ion-title  *ngIf="view" >Récemment ajoutés</ion-title>
        <ion-title *ngIf="!view" > {{food.nom}} </ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab1"> </ion-back-button>
        </ion-buttons>


    </ion-toolbar>
</ion-header>
<ion-content>

    <div *ngIf="view">
        <div *ngIf="edit">
            <ion-searchbar showcancelbutton="" animated (ionInput)="filterList($event)"></ion-searchbar>
            <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="secondary" *ngIf="vefstat">
                <ion-fab-button (click)="(edit = !edit)">
                    <ion-icon name="create-outline"></ion-icon>
                </ion-fab-button>
            </ion-fab>
            <ion-list>
                <ion-item *ngFor="let sta of plati" (click)="redic(sta.id)">
                    <ion-avatar slot="start">

                        <ion-img [src]=sta.photo alt="Photo de Profil" *ngIf="sta.photo!=''"></ion-img>


                        <ion-img [src]="'/assets/ava2.png'" alt="Photo de Profil" *ngIf="sta.photo==''"></ion-img>

                    </ion-avatar>

                    <ion-label>
                        <p>{{sta.nom}}</p>
                        <p>{{sta.style}}</p>

                    </ion-label>
                    <ion-label slot="end">
                        <p> <b>Disponibilité</b>:{{sta.disponible}}</p>
                        <p>
                            <ion-badge color="primary">{{sta.prix}} C</ion-badge>
                      </p>
                        <p *ngIf="sta.promo>0">
                            <ion-chip>
                              Promo :
                                <ion-badge color="warning">{{sta.promo}} C</ion-badge>
                              </ion-chip>


                            </p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>
        <div *ngIf="!edit">
            <div *ngIf="food.photo && food.photo !=''">



                <ion-card>
                    <ion-card-header>
                        <img heigth="4px" src={{food.photo }}>

                    </ion-card-header>

                </ion-card>


            </div>
            <ion-item lines="inset">
                <ion-icon name="person" slot="start" color="primary"></ion-icon>

                <ion-label position="floating"><b>Nom</b></ion-label>
                <ion-input value={{food.nom}} [(ngModel)]="food.nom" required></ion-input>

            </ion-item>
            <ion-item lines="inset">
                <ion-icon name="home" slot="start" color="primary"></ion-icon>
                <ion-label position="floating"><b>Description</b></ion-label>
                <ion-textarea value={{food.description}} [(ngModel)]="food.description" required placeholder="Enter more information here..."></ion-textarea>
            </ion-item>


            <ion-item lines="inset">
                <ion-icon name="home" slot="start" color="primary"></ion-icon>
                <ion-label position="floating"><b>Type </b></ion-label>
                <ion-input value={{food.style}} [(ngModel)]="food.style" required></ion-input>
            </ion-item>
            <ion-item lines="inset">
                <ion-icon name="home" slot="start" color="primary"></ion-icon>
                <ion-label position="floating"><b>Disponibilité</b></ion-label>

                <ion-select [(ngModel)]="food.disponible" okText="Okay" cancelText="Dismiss">
                    <ion-select-option value={{sta}} *ngFor="let sta of disponible">{{ sta}}</ion-select-option>

                </ion-select>
            </ion-item>
            <ion-item lines="inset">
                <ion-icon name="person" slot="start" color="primary"></ion-icon>

                <ion-label position="floating"><b>Prix (Fcfa)</b></ion-label>
                <ion-input type="number" value={{food.prix}} [(ngModel)]="food.prix" required></ion-input>

            </ion-item>
            <ion-item lines="inset">
                <ion-icon name="person" slot="start" color="primary"></ion-icon>

                <ion-label position="floating"><b>Prix Promo (Fcfa)</b></ion-label>
                <ion-input type="number" value={{food.promo}} [(ngModel)]="food.promo" required></ion-input>

            </ion-item>
            <ion-row>
                <ion-col>

                    <ion-button (click)="photosave()" color="primary">
                        photo
                        <ion-icon name="camera"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button (click)="save()" color="tertiary">
                        Enregistrer

                    </ion-button>

                </ion-col>
            </ion-row>
        </div>
    </div>

    <div *ngIf="!view">
        <div *ngIf="food.photo && food.photo !=''">

            <img heigth="4px" width="100%" src={{food.photo}}>

        </div>
        <ion-item lines="inset">

            <ion-icon name="cart-outline" slot="start" color="primary"></ion-icon>
            <ion-label>
                {{food.nom}}
            </ion-label>
        </ion-item>
        <ion-item lines="inset">


            <ion-label>
                <ion-icon name="browsers-outline" slot="start" color="primary"></ion-icon>
            </ion-label>
            <ion-textarea readonly value={{food.description}}>
            </ion-textarea>
        </ion-item>
        <ion-item lines="inset">
            <ion-icon name="bookmark-outline" slot="start" color="primary"></ion-icon>
            <ion-label>

                <p>{{food.style}}</p>
            </ion-label>
        </ion-item>
        <ion-item lines="inset">

            <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
            <ion-label>
                <p>{{food.disponible}}</p>
            </ion-label>
        </ion-item>
        <ion-item lines="inset">
            <ion-icon name="cash" slot="start" color="primary"></ion-icon>
            <ion-label>
                <p>{{food.prix}} Fcfa</p>
            </ion-label>
        </ion-item>
        <ion-item lines="inset" *ngIf="food.promo>0">
            <ion-icon name="cash" slot="start" color="primary"></ion-icon>
            <ion-label><b>Prix Promotionnel</b>
                <p>{{food.promo}} Fcfa</p>
            </ion-label>
        </ion-item>

        <ion-row>

            <ion-col *ngIf=" food.disponible && food.created != vrestau">
                <ion-button color="primary" (click)="commande()"> Commander</ion-button>
                <div *ngIf="suivi"> Frais de transport {{suivi}} Fcfa</div>
            </ion-col>

            <ion-col>
                <ion-button color="danger" (click)="deleteR()" *ngIf="food.created==vrestau"> Supprimer</ion-button>
            </ion-col>
        </ion-row>
        <ion-card>
            <ion-card-header>
                <ion-row>
                    <ion-col>
                        <b> Commentaire(s)</b>
                    </ion-col>
                    <ion-col>
                        {{rcom}}
                    </ion-col>
                </ion-row>

            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item *ngFor="let sta of comments" (click)="redic(sta.id)">
                        <ion-avatar slot="start">

                            <ion-img [src]=sta.photo alt="Photo de Profil" *ngIf="sta.photo!=''"></ion-img>


                            <ion-img [src]="'/assets/ava2.png'" alt="Photo de Profil" *ngIf="sta.photo==''"></ion-img>

                        </ion-avatar>

                        <ion-label>
                            <p> <b>{{sta.nom}}</b><span float-rigth>      {{sta.date.seconds * 1000 | date:'short'}}</span> </p>

                            <p> {{sta.content}}</p>
                        </ion-label>

                    </ion-item>
                </ion-list>

            </ion-card-content>
            <ion-card-title>
                <ion-item>
                    <ion-label position="floating"><b>Commentaire</b></ion-label>
                    <ion-input value={{commentaire}} [(ngModel)]="commentaire" required></ion-input>
                    <ion-button color="tertiary" (click)="send()" slot="end">
                        <ion-icon name="send"></ion-icon>
                    </ion-button>
                </ion-item>
            </ion-card-title>
        </ion-card>
    </div>

</ion-content>
