<ion-content>
    <div id="map"></div>
    <div *ngIf="visionage && isionage">
        Distance : <b> {{gps.calculateDistance(arrive.getPosition().lat,depart.getPosition().lat,arrive.getPosition().lng,depart.getPosition().lng)|number:'1.1-2'}} KM</b> Prix : <b> {{gps.calculateDistance(arrive.getPosition().lat,depart.getPosition().lat,arrive.getPosition().lng,depart.getPosition().lng)*km|number:'1.1-1'}} Fcfa</b>
    </div>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label position="floating"><b>Type de Service</b></ion-label>
                <ion-select [(ngModel)]="course.type" okText="Okay" cancelText="Dismiss" required>
                    <ion-select-option value="Course">Course</ion-select-option>
                    <ion-select-option value="Colis">Colis</ion-select-option>
                </ion-select>
            </ion-col>
            <ion-col>
                <ion-label position="floating"><b>Choix du vehicule</b></ion-label>
                <ion-select [(ngModel)]="course.engin" okText="Okay" cancelText="Dismiss" required (ionChange)="changeme()">
                    <ion-select-option value={{sta}} *ngFor="let sta of engin">{{ sta}}</ion-select-option>
                </ion-select>
            </ion-col>

        </ion-row>
        <ion-row>
            <ion-col *ngIf="course.type==='Colis'">
                <ion-label><b> Ajouter une image</b>

                    <p>{{course.photo}}</p>
                </ion-label>
                <ion-button (click)="photosave()" color="primary">
                    photo
                    <ion-icon name="camera"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button type="submit" expand="block" color="secondary" (click)="save()">Valider</ion-button>
            </ion-col>

        </ion-row>

    </ion-grid>
</ion-content>