<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Mon compte</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="presentPopover($event1)">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab1"> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <div *ngIf="profil.photo.length>=2">
                <ion-img [src]="profil.photo" alt="Photo de Profil"></ion-img>
            </div>
            <div *ngIf="2>profil.photo.length">
                <ion-img [src]="'/assets/img/ava2.png'" alt="Photo de Profil"></ion-img>
            </div>

        </ion-card-header>
        <ion-card-content>
            <div *ngIf="edit !=true ">
                <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="secondary" *ngIf="edit !=true  && connect == true">
                    <ion-fab-button (click)="(edit = !edit )">
                        <ion-icon name="create-outline"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
                <ion-list>
                    <ion-item lines="inset">
                        <ion-icon name="person" slot="start" color="primary"></ion-icon>
                        <ion-label>
                            <p> <b>Prénom & Nom</b></p>
                            <p> {{profil.prenom}} {{profil.nom}}  </p>
                        </ion-label>

                    </ion-item>

                    <ion-item lines="inset">
                        <ion-icon name="call" slot="start" color="primary"></ion-icon>
                        <ion-label>
                            <p> <b>Téléphone</b></p>
                            <p> {{profil.tel}}</p>
                        </ion-label>
                    </ion-item>
                    <ion-item lines="inset">
                        <ion-icon name="cash" slot="start" color="primary"></ion-icon>
                        <ion-label>
                            <p> <b>Mon solde</b></p>
                            <p> {{profil.credit}}</p>
                        </ion-label>
                    </ion-item>
                    <ion-item lines="inset">
                        <ion-icon name="mail-unread" slot="start" color="primary"></ion-icon>
                        <ion-label>
                            <p> <b>Email</b></p>
                            <p> {{profil.email}}</p>
                        </ion-label>
                    </ion-item>
                    <ion-item lines="inset">
                        <ion-icon name="lock-closed" slot="start" color="primary"></ion-icon>
                        <ion-label>
                            <p> <b>Code secret</b></p>
                            <p> {{profil.pin}}</p>
                        </ion-label>
                    </ion-item>
                    <ion-item lines="inset">
                        <ion-icon name="location-outline" slot="start" color="primary"></ion-icon>
                        <ion-label>
                            <p> <b>Adresse de localisation</b></p>
                            <p> {{profil.pays}}</p>
                            <p> {{profil.departement}}</p>
                            <p> {{profil.ville}}</p>
                            <p> {{profil.quartier}}</p>
                        </ion-label>
                    </ion-item>


                    <ion-item lines="inset">
                        <ion-icon name="chevron-down-circle-outline" slot="start" color="primary"></ion-icon>
                        <ion-label>
                            <p> <b>Rôle</b></p>
                            <p> {{profil.status}}</p>
                        </ion-label>
                    </ion-item>
                    <div *ngIf="profil.status=='Conducteur'">
                        <ion-item lines="inset">
                            <ion-icon name="car-sport-outline" slot="start" color="primary"></ion-icon>
                           
                            <ion-label>
                                <p> <b>Type d'Engin</b></p>
                                <p> {{profil.modele}}</p>
                            </ion-label>
                        </ion-item>
                        <ion-item lines="inset">
                            <ion-icon name="log-in-outline" slot="start" color="primary"></ion-icon>
                            <ion-label>
                                <p> <b>Matricule</b></p>
                                <p> {{profil.matricule}}</p>
                            </ion-label>
                        </ion-item>
                        <ion-item lines="inset">
                            <ion-thumbnail slot="start">

                                <ion-img [src]=profil.photoEngin alt="Photo de Profil" *ngIf="profil.photoEngin!=''"></ion-img>


                                <ion-img [src]="'/assets/ava2.png'" alt="Photo de Profil" *ngIf="profil.photoEngin==''"></ion-img>

                            </ion-thumbnail>
                            <ion-label>
                                <p> <b>Photo du Vehicule</b></p>
                                <p> {{profil.photoEngin}}</p>
                            </ion-label>
                        </ion-item>
                        <div *ngIf="profil.photoEngin.length>=2">
                            <ion-img [src]="profil.photoEngin" alt="Photo de l'appareil" width="100%" height="50px"></ion-img>
                        </div>
                    </div>
                </ion-list>
            </div>
            <div *ngIf="edit">
                <ion-button expand="block" color="primary" (click)="photosave()">charger la photo de profil</ion-button>
                <ion-list>
                    <ion-item lines="inset">
                        <ion-icon name="person" slot="start" color="primary"></ion-icon>

                        <ion-label position="floating"><b>Nom</b></ion-label>
                        <ion-input value={{profil.nom}} [(ngModel)]="profil.nom"></ion-input>

                    </ion-item>
                    <ion-item lines="inset">
                        <ion-icon name="person-add" slot="start" color="primary"></ion-icon>

                        <ion-label position="floating"><b>Prenom</b></ion-label>
                        <ion-input value={{profil.prenom}} [(ngModel)]="profil.prenom"></ion-input>

                    </ion-item>
                    <ion-item lines="inset">
                        <ion-icon name="call" slot="start" color="primary"></ion-icon>


                        <ion-label position="floating"><b>Télephone</b></ion-label>
                        <ion-input value={{profil.tel}} [(ngModel)]="profil.tel"></ion-input>


                    </ion-item>


                    <ion-item lines="inset">
                        <ion-icon name="lock-closed" slot="start" color="primary"></ion-icon>

                        <ion-label position="floating"><b>Pin</b></ion-label>
                        <ion-input value={{profil.pin}} [(ngModel)]="profil.pin"></ion-input>

                    </ion-item>
                    <ion-item lines="inset">
                        <ion-icon name="airplane" slot="start" color="primary"></ion-icon>

                        <ion-label position="floating"><b>Pays</b></ion-label>
                        <ion-input value={{profil.pays}} [(ngModel)]="profil.pays"></ion-input>

                    </ion-item>
                    <ion-item lines="inset">
                        <ion-icon name="bus" slot="start" color="primary"></ion-icon>

                        <ion-label position="floating"><b>Département</b></ion-label>
                        <ion-input value={{profil.departement}} [(ngModel)]="profil.departement"></ion-input>

                    </ion-item>
                    <ion-item lines="inset">
                        <ion-icon name="car-sport" slot="start" color="primary"></ion-icon>

                        <ion-label position="floating"><b>Ville</b></ion-label>
                        <ion-input value={{profil.ville}} [(ngModel)]="profil.ville"></ion-input>

                    </ion-item>
                    <ion-item lines="inset">
                        <ion-icon name="home" slot="start" color="primary"></ion-icon>

                        <ion-label position="floating"><b>Quartier</b></ion-label>
                        <ion-input value={{profil.quartier}} [(ngModel)]="profil.quartier"></ion-input>

                    </ion-item>
                    <div *ngIf="profil.status=='Conducteur'">
                        <ion-item lines="inset">
                            <ion-icon name="home" slot="start" color="primary"></ion-icon>
                            <ion-label position="floating"><b>Type d'engin</b></ion-label>

                            <ion-select [(ngModel)]="profil.modele" okText="Okay" cancelText="Dismiss">
                                <ion-select-option value={{sta}} *ngFor="let sta of engin">{{ sta}}</ion-select-option>

                            </ion-select>
                        </ion-item>
                        <ion-item lines="inset">
                            <ion-icon name="home" slot="start" color="primary"></ion-icon>
                            <ion-label position="floating"><b>Matricule</b></ion-label>
                            <ion-input value={{profil.matricule}} [(ngModel)]="profil.matricule"></ion-input>
                        </ion-item>
                        <ion-button expand="block" color="secondary" (click)="photosaveEngin()">charger la photo du véhicule</ion-button>
                    </div>
                </ion-list>

                <ion-button expand="block" color="primary" (click)="save()">Valider</ion-button>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>