.connect{
    background-color: #b93232;;;
    padding: 10px;
    border-radius: 5px;
}

.visit{
    background-color: #ffc409;;
    padding: 10px;
    border-radius: 5px;
}
.center{
    text-align:center;
}