<ion-content>
    <div *ngIf="phot.length>=2">
        <ion-img [src]="phot" alt="Photo de demande" width="100%" height="70px"></ion-img>
    </div>
    <ion-list>
        <ion-item lines="inset">
            <ion-icon name="person" slot="start" color="primary"></ion-icon>
            <ion-label>
                <p> <b>Nom et Prénom : </b> <span [innerHTML]="client.nom">{{client.nom}} </span> <span> {{client.prenom}}</span></p>
                <p> <b>Téléphone </b>: <span>{{client.tel}} </span> </p>
            </ion-label>

        </ion-item>

        <ion-item lines="inset">
            <ion-icon name="car" slot="start" color="primary"></ion-icon>
            <ion-label>
                <p> <b>Type</b> : <span *ngIf="demande.type=='Colis'">Expedition </span> <span *ngIf="demande.type!='Colis'">{{demande.type}} </span> </p>
                <p> <b> Engin</b> : {{demande.engin}}</p>
            </ion-label>
        </ion-item>
        <ion-item lines="inset">
            <ion-icon name="bicycle" slot="start" color="primary"></ion-icon>
            <ion-label>
                <p> <b> Depart : </b> {{demande.villedepart}}(<b>{{demande.depart}}</b>)</p>
                <p> <b> Destination :</b>: {{demande.villearrive}}(<b>{{demande.arrive}}</b>)</p>
            </ion-label>
        </ion-item>

        <ion-item lines="inset">
            <ion-icon name="gift" slot="start" color="primary"></ion-icon>
            <ion-label>
                <p> <b>Distance : </b>{{km}}Km </p>
                <p> <b>Prix Proposés : </b>{{demande.prix}}XAF</p>
                <p><b>Le</b>:{{demande.date.seconds * 1000 | date:'full'}}</p>
            </ion-label>
        </ion-item>

        <div *ngIf="demande.idConducteur!=''">
            <ion-item lines="inset">
                <ion-icon name="person-add" slot="start" color="primary"></ion-icon>
                <ion-label>
                    <p> <b>Nom et Prénom du Conducteur</b> : <span [innerHTML]="conducteur.nom">{{conducteur.nom}} </span> <span> {{conducteur.prenom}}</span> </p>
                    <p> <b>Téléphone du Conducteur : </b> <span>{{conducteur.tel}} </span> </p>
                </ion-label>

            </ion-item>



            <div *ngIf="conducteur.photo.length>=2">
                <ion-img [src]="conducteur.photo" alt="Photo de l'appareil" width="100%" height="50px"></ion-img>
            </div>
        </div>




    </ion-list>
    <ion-row>
        <ion-col *ngIf="demande.idConducteur==''">

            <ion-button expand="block" color="secondary" (click)="save()">Call
                <ion-icon name="call"></ion-icon>
            </ion-button>

        </ion-col>

        <ion-col *ngIf="demande.arrivelat!=0 && demande.arrivelong!=0">

            <ion-button expand="block" color="primary" (click)="savel()">Message
                <ion-icon name="mail"></ion-icon>
            </ion-button>

        </ion-col>
    </ion-row>
</ion-content>