<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Commande</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab1"> </ion-back-button>
        </ion-buttons>



    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="food.photo && food.photo !=''">

        <img heigth="4px" width="100%" src={{food.photo}}>

    </div>
    <ion-item>
        <ion-thumbnail slot="start" *ngIf="profil.photo && profil.photo !=''">
            <img src={{profil.photo}}>
        </ion-thumbnail>
        <ion-label>
            <p> <b>Nom Client(e):</b>{{profil.nom}}</p>
            <p> <b>Téléphone Client(e):</b>{{profil.tel}}</p>
            <p> <b>Secteur Client(e):</b>{{profil.secteur}}</p>
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-thumbnail slot="start" *ngIf="restau.photo && restau.photo !=''">
            <img src={{restau.photo}}>
        </ion-thumbnail>
        <ion-label>
            <p> <b>Nom Vendeur(e):</b>{{restau.nom}}</p>
            <p> <b>Téléphone Vendeur(e):</b>{{restau.tel}}</p>
            <p> <b>Spécialité Vendeur(e):</b>{{restau.type}}</p>
            <p> <b>Secteur Vendeur(e):</b>{{restau.secteur}}</p>
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-thumbnail slot="start" *ngIf="produit.photo && produit.photo !=''">
            <img src={{produit.photo}}>
        </ion-thumbnail>
        <ion-label>
            <p> <b>Nom produit:</b>{{produit.nom}}</p>

            <p> <b>Type produit:</b>{{produit.type}}</p>

            <p> <b>Prix produit:</b>{{produit.prix}} C</p>
            <p *ngIf="produit.promo && produit.promo !=0"> <b>Promo produit:</b>{{produit.promo}}</p>
        </ion-label>
    </ion-item>

</ion-content>